proc                                                     /proc           proc   defaults                 0       0
{{ nfs_host }}:/{{ nfs_tftp_dir }}/{{ serial }}             /boot           nfs    defaults,vers=3          0       2
{{ nfs_host }}:/{{ nfs_filesystem_dir }}                 /               nfs    defaults,noatime,vers=3  0       1